* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.vrapper {
    height: 100vh;
    background: #ccc;
    
}
.wrap-menu {
    position: absolute;
    top: 100px;
    left: 50px;
}
.map {
    width:1400px;
    /* height: calc(100%-80px); */
    height: 800px;
    position: relative;
    overflow-x: hidden;
    margin: auto;
    position: relative;
}
.top-menu {
    width: 1400px; 
    height: 80px;
    background: url(./img/Top-Menu.png);
    margin: auto;
}
.new-task {
    width:330px; 
    min-height: 50px;
    border: 2px solid blue;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: #ccc;
    margin-bottom: 5px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.task {
    border: 2px solid blue;
    padding: 5px;
    margin: 10px;
}
.main-menu {
    width:505px; 
    height: 100%;
    border: 1px solid #979797;
    background: #F1F1F1;
    position: absolute;
    left : 1400px;
    top : 0;
    transition: all 0.5s ease-in-out;
}
.name {
    color: red;
}
.content {
    color: green;
}
.button {
    color : white;
}
.delete {
    color : blue;
}
p {
    padding: 10px;
}
.service {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin:5px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.prop-task {
    height: 40px; 
    margin:5px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
}
.service-type {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.set-task {
    text-align: center;
}
.bold {
    font-weight: bold;
}
