* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.map {
    width:1400px;
    height: 1000px;
    background: url(./img/map_bg.png);
    position: relative;
    overflow-x: hidden;
    margin: auto;
}
.top-menu {
    width: 1400px; 
    height: 80px;
    background: url(./img/Top-Menu.png);
    margin: auto;
}
.new-task {
    width:330px; 
    height: 50px;
    border: 2px solid blue;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: #ccc;
}
.menu {
    width:505px; 
    height: 100%;
    border: 2px solid blue;
    background: #ccc;
    position: absolute;
    left : 1000px;
    top : 0;
    
}