* {
    margin: 5px;
    padding: 0;
}
.wrapper {
    max-width: 40em;
    margin: 0 auto;
    font-size: 20px;
}
input {
    padding: 0.2em;
    width: 20em;
    font-size: 20px;
}
input[type=number]{
    width: 3em;
}
input[type=fone]{
    width: 8em;
}
label {
    display: inline-block;
    width: 12em;
}
.personal {
    background: #ccc;
}
textarea {
    font-size: 20px;
    width: 38em;
    min-height: 5em;
    resize: vertical;
    display: block;
    margin: 0 auto;
}
